.create-img {
    width: 50%;
    margin: auto
}

.create-btn {
    margin-top: 112px;
    width: 371px;
    margin-bottom: 16px
}

.create-item-1 {
    margin-top: 71px;
}

.create-item-2 {
    margin-top: 26px
}

ion-label {
    font-size: large !important
}