.login-img {
    width: 50%;
    margin: auto
}

.login-btn {
    margin-top: 112px;
    width: 371px;
    margin-bottom: 16px
}

.login-item-1 {
    margin-top: 71px;
}

.login-item-2 {
    margin-top: 26px
}

.create-account {
    margin: auto
}

ion-label {
    font-size: large !important
}